---
- hosts: tag_ProductID_Sample_v1_0_0
  gather_facts: no
  remote_user: ec2-user
  become: yes

  tasks:
  - name: Download WAR to server
    copy:
     src: /var/jenkins_home/workspace/sample/target/hello-world-war-1.0.0.war
     dest: /opt/tomcat/webapps/hello-world-war-1.0.0.war
     owner: tomcat
     group: tomcat
     mode: 0644

  tasks:
  - name: Restart tomcat8
    service: name=tomcat8 state=restarted